.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.shop-name {
    text-align: center;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 8px 32px;
}

.cart-container{
    background-color: rgb(225, 188, 139);
    border: 4px solid grey;
    border-radius: 16px;
}

.ques-section{
    display: flex;
    padding-top: 24px;
    text-align: center;
}

.question-part1{
    text-align: center;
    margin-left: 50px;
    
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 8px;
     background-color: rgb(176, 198, 238);
}
.question-part2{
    text-align: center;
    margin-left: 50px;
    
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 8px;
     background-color: rgb(176, 198, 238);
}